.type-9 {
  background: #777;
}
.type-9 .post-titless ul {
  padding-left: 0;
}
.type-9 .widget-title {
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #f1f1f1;
}
.type-9 .button {
  border: 2px solid #f1f1f1;
  border-radius: 15px;
  margin-left: .12em;
  margin-right: .12em;
  color: #fff;
  padding-left: .6em;
  padding-right: .6em;
  display: inline-block;
}
.type-9 .button:hover {
  background: #0087b7;
}
.type-9 .texta {
  color: #fff;
}
.type-9 .titles {
  color: #f1f1f1;
  font-weight: 600;
  text-transform: uppercase;
}
.type-9 .is-divider {
  height: 3px;
  display: block;
  background-color: rgba(0,0,0,0.1);
  margin: 1em 0 1em;
  width: 100%;
  max-width: 30px;
  background-color: rgba(255,255,255,0.3);
}
.type-9 .post-list {
  color: #f1f1f1;
  opacity: .7;
  line-height: .7;
  list-style: none;
  text-align: left;
  display: flex;
  padding: 10px 0 10px;
  border-bottom: 1px solid #928c8c;
}
.type-9 .post-date {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: .85;
  padding: 2px;
  white-space: nowrap;
  transition: background-color .3s, color .3s, border .3s;
  border: 2px solid #d6d6d6;
}
.type-9 .titles {
  padding: 10px 0 10px;
}
.type-9 .post-title-text a {
  color: currentColor;
  line-height: 0.9;
  display: block;
  margin-bottom: 6px;
}
.type-9 .post-title-text {
  margin-left: 7px;
}
.type-9 .post-list1 {
  color: #f1f1f1;
  opacity: .7;
  line-height: .7;
  list-style: none;
  text-align: left;
  display: flex;
  padding: 10px 0 10px;
}
.type-9 .tag-blog a {
  color: #cacaca;
  font-size: 0.8em !important;
  display: inline-block;
  border: 1px solid currentColor;
  opacity: .8;
  margin: 0 3px 5px 0;
  padding: 2px 5px;
  border-radius: 3px;
}
.type-9 .wpcf7-form-control {
  background-color: rgba(255,255,255,0.2) !important;
  border-color: rgba(255,255,255,0.09);
  box-shadow: none;
  color: #fff !important;
  border-radius: 99px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 0 .75em;
  height: 2.507em;
  font-size: .97em;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 1em;
  transition: color .3s, border .3s, background .3s, opacity .3s;
}
.type-9 .wpcf7-form-control1 {
  background-color: #0087b7;
  color: #fff;
  border-color: rgba(0,0,0,0.05);
  border-radius: 99px;
  font-size: .97em;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  vertical-align: middle;
  line-height: 2.4em;
  min-height: 2.5em;
  padding: 0 1.2em;
  max-width: 100%;
}
