.type-17 {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #777;
}
.type-17 .tabs h3 {
  color: #555;
  font-size: 1.35em;
  font-weight: 700;
}
.type-17 .nav {
  border-bottom: none;
  border-top: 1px solid #ddd;
}
.type-17 .nav:hover .active a:before {
  opacity: 0;
}
.type-17 .nav li {
  margin-right: 4px;
  margin-left: 4px;
}
.type-17 .nav li a {
  font-family: "Lato", sans-serif;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #777 !important;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  font-weight: 700;
  font-size: .9em;
  border: none;
}
.type-17 .nav li:hover a {
  background: unset;
  border: none;
  cursor: grab;
}
.type-17 .nav li:hover a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  background-color: #446084;
  transition: all 0.3s;
  opacity: 1;
  height: 3px;
}
.type-17 .nav li:nth-last-of-type(1) {
  margin-right: 0;
}
.type-17 .nav li:nth-of-type(1) {
  margin-left: 0;
}
.type-17 .nav .active a {
  color: #000 !important;
  border: unset;
}
.type-17 .nav .active a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  background-color: #446084;
  transition: all 0.3s;
  opacity: 1;
  height: 3px;
}
.type-17 .nav .active a:hover {
  border: unset;
}
.type-17 .nav .active a:hover:before {
  opacity: 1;
}
.type-17 .nav .active a:focus {
  border: unset;
}
.type-17 p {
  font-size: 1.1em;
  margin-bottom: .8em;
}
.type-17 .size-pr {
  border-bottom: 1px solid #ccc;
}
.type-17 .title-size {
  font-weight: 550;
}
.type-17 .comments {
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px dotted #ccc;
  margin-top: 10px;
}
.type-17 .comments .avatar {
  margin-right: 20px;
}
.type-17 .comments .avatar img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
.type-17 .star-rating {
  line-height: 32px;
  font-size: 1.25em;
}
.type-17 .star-rating .fa-star {
  color: #D26E4B;
}
.type-17 .add-review {
  border: 2px solid #58AAAA;
  padding: 0 15px 30px;
}
.type-17 .add-review textarea,
.type-17 .add-review input {
  border-radius: 0;
}
.type-17 .add-review label {
  color: #000;
  margin-top: 10px;
  font-weight: 700;
}
.type-17 .add-review .star-rating {
  font-size: 1.65em;
}
.type-17 .add-review .star-rating .fa {
  cursor: pointer;
  margin-right: 5px;
}
.type-17 .add-review .star-rating input[type="submit"] {
  font-weight: 700;
  white-space: 2;
}
