.type-6 {
  margin-top: 50px;
}
.type-6 .section-title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.type-6 .section-title b {
  display: block;
  flex: 1;
  height: 2px;
  opacity: .1;
  background-color: #706d6d;
}
.type-6 .section-title span {
  border: 2px solid rgba(0,0,0,0.1);
  padding: 10px 11px;
  text-transform: uppercase;
  font-weight: bold;
}
.type-6 .swiper-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
.type-6 .swiper-container .swiper-button-next {
  color: #13a8b3;
}
.type-6 .swiper-container .swiper-button-prev {
  color: #13a8b3;
}
.type-6 .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: block;
}
.type-6 .swiper-container .swiper-slide .hihi {
  position: relative;
  width: 100%;
}
.type-6 .swiper-container .swiper-slide .hihi img {
  display: block;
  width: 100%;
}
.type-6 .swiper-container .swiper-slide .square {
  left: 0;
  top: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #13a8b3;
  color: #ffffff;
}
.type-6 .swiper-container .swiper-slide .square .number {
  font-weight: bold;
}
.type-6 .swiper-container .swiper-slide .text {
  margin-bottom: 50px;
}
.type-6 .swiper-container .swiper-slide .text h5 {
  font-weight: bold;
  font-size: 1.3em;
}
.type-6 .swiper-container .swiper-slide .text p {
  padding-top: 20px;
  font-size: 1em;
}
.type-6 .swiper-container .swiper-slide .text .line-custom {
  padding-left: 45%;
}
.type-6 .swiper-container .swiper-slide .text .line-custom .line-bottom {
  height: 3px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  max-width: 40px;
}
.type-6 .swiper-container img {
  width: 365px;
  height: 250px;
}
.type-6 .swiper-container img:hover {
  width: 365px;
  height: 250px;
  opacity: 0.5;
}
